* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    margin: 10px;
}
h1 {
    margin: 10px 0;
}
#form > div {
    padding: 10px 0;
    display: flex;
    width: 20%;
    flex-direction: column;
}

#resultat {
    display:flex;
    flex-wrap: wrap;
}
.objets-trouves {
    width: calc(100% / 3 - 42px);
    margin: 10px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
}
@media screen and (max-width: 800px) {
    .objets-trouves, #form > div  {
        width: 100%;
    }
}